<a href="https://colab.research.google.com/github/kavinkumarm/python/blob/main/B2_02_Functions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Overview of positional Arguments**

In [1]:
def car_specs(color,brand,price):
  print("Color:",color)
  print("Brand:",brand)
  print("Price:",price)

In [2]:
car_specs("Red","BMW",1000000) #Positinal Argument --> Ordering is important
# Red is mapped to color
# BMW is mapped to brand
# 1000000 is mapped to price

Color: Red
Brand: BMW
Price: 1000000

In [4]:
car_specs("Red",1000000,"BMW") #Oder changed but not able to predicted by function

Color: Red
Brand: 1000000
Price: BMW

In [5]:
car_specs("Red","BMW") #One argument is missing

TypeError: car_specs() missing 1 required positional argument: 'price'

In [6]:
car_specs("Red","BMW",1000000,1) #One argument is extra

TypeError: car_specs() takes 3 positional arguments but 4 were given

**Key-worded Argument**

Key-worded argument solved the problem of ordering

In [7]:
def car_specs(color,brand,price):
  print("Color:",color)
  print("Brand:",brand)
  print("Price:",price)

Rule 1 : Parameter name must match with function calling argument names

In [8]:
car_specs(color="Red",brand="BMW",price=1000000)

Color: Red
Brand: BMW
Price: 1000000

Rule 2 : passing the in the same order is not madatory

In [9]:
car_specs(color="Red",price=1000000,brand="BMW")

Color: Red
Brand: BMW
Price: 1000000

Advantage = Practically its not possible to remember the order of the arguments.

In numpy and pandas it has good advantages

In [10]:
#Quiz1
function random():
    return True
random()

SyntaxError: invalid syntax (<ipython-input-10-30f38bdde48c>, line 2)

In [11]:
#Quiz1
def random():
    return True
random()

True

In [12]:
#Quiz 2
def abc:
    return "I am a function!"
abc()

SyntaxError: expected '(' (<ipython-input-12-9838d27b0b51>, line 2)

In [13]:
def abc():
    return "I am a function!"

abc()

'I am a function!'

In [14]:
#Revision

def solve(a, b, c, d):
  print("a is", a)
  print("b is", b)
  print("c is", c)
  print("d is", d)

In [15]:
solve(1,4,3,6)

a is 1
b is 4
c is 3
d is 6

In [16]:
solve(1,4,3,6,8)

TypeError: solve() takes 4 positional arguments but 5 were given

In [17]:
solve(1,3,4)

TypeError: solve() missing 1 required positional argument: 'd'

In [18]:
#Key worded argument
def solve(a, b, c, d):
  print("a is", a)
  print("b is", b)
  print("c is", c)
  print("d is", d)

In [19]:
solve(b=4,a=1,c=3,d=6)

a is 1
b is 4
c is 3
d is 6

In [ ]:
#Edge cases of Keyworded arguments - Understand the errors

In [20]:
solve(b = 2, a = 1 , a = 5 , c =4)

SyntaxError: keyword argument repeated: a (<ipython-input-20-c2ab431ac6e6>, line 1)

In [21]:
solve(b = 2, aj = 1 , a = 5 , c =4)

TypeError: solve() got an unexpected keyword argument 'aj'

Mixture - combination of arguments keyworded and positinal arguments

In [22]:
def solve(a, b, c, d):
  print("a is", a)
  print("b is", b)
  print("c is", c)
  print("d is", d)

In [23]:
solve(1,c=3,d=5,b=2)

a is 1
b is 2
c is 3
d is 5

In [24]:
solve(1,c=3,d=5,8)

SyntaxError: positional argument follows keyword argument (<ipython-input-24-4ddb16aa6de1>, line 1)

Rule : All the keyworded arguments should be after all the positinal arguments

In [25]:
solve(1,2,d=5,c=2)

a is 1
b is 2
c is 2
d is 5

In [27]:
solve(1,2,5,d=2)

a is 1
b is 2
c is 5
d is 2

In [28]:
solve(1,2,a=5,d=2) #Rule is followed but logicalaly not correct

TypeError: solve() got multiple values for argument 'a'

In [29]:
solve(a = 4,b = 4, 7, 9) #Rule is not followed

SyntaxError: positional argument follows keyword argument (<ipython-input-29-e44a4a5677b9>, line 1)

**Default Arguments**

Default setting for function . its allowed to overwrite

In [30]:
def new_solve(a,b,c):
  print("a is", a)
  print("b is", b)
  print("c is", c)

In [31]:
new_solve(1,4,7)

a is 1
b is 4
c is 7

In [32]:
def new_solve(a,b,c = 4): #C is a defaulted argument, if nothing is passed c takes 4
  print("a is", a)
  print("b is", b)
  print("c is", c)

In [33]:
new_solve(1,4)

a is 1
b is 4
c is 4

In [34]:
new_solve(1,4,5)

a is 1
b is 4
c is 5

In [35]:
new_solve(1)

TypeError: new_solve() missing 1 required positional argument: 'b'

In [36]:
def new_solve(a,b = 4,c): #b is a defaulted argument, if nothing is passed b takes 4
  print("a is", a)
  print("b is", b)
  print("c is", c)

SyntaxError: non-default argument follows default argument (<ipython-input-36-71f96044f890>, line 1)

Rule: In the function definition, all the default arguments should be AFTER all the non-default arguments

In [37]:
def new_solve(a,b = 4,c = 6): #b,c is a defaulted argument.
  print("a is", a)
  print("b is", b)
  print("c is", c)

In [38]:
new_solve(7,8)

a is 7
b is 8
c is 6

In [39]:
new_solve(7,8,9)

a is 7
b is 8
c is 9

In [40]:
new_solve(7)

a is 7
b is 4
c is 6

In [41]:
new_solve()

TypeError: new_solve() missing 1 required positional argument: 'a'

In [42]:
new_solve(7,c=8)

a is 7
b is 4
c is 8

In [43]:
new_solve(7,b=8)

a is 7
b is 8
c is 6

**Global and Local scope of variable**

In [44]:
#Quiz
a = 10
def calculator(number):
    print(number * 10)

calculator(a)
print(number)
print(a)

100

NameError: name 'number' is not defined

Local variables: within the method/function

Global variables: outside the method/function

We cannot access local variables outside the function

In [45]:
#Quiz
a = 10 #Global variable
def calculator(number):
    print(number * 10)

calculator(a)
print(a)

100
10

In [46]:
#Quiz
def solve(n):
  aa = 5 #local
  print(aa)
  print(n)

solve(77)

5
77

In [47]:
print(aa) #access local variables outside the function

NameError: name 'aa' is not defined

In [48]:
#Quiz
a = 10 #global
def solve(n):
  a = 5 #local
  print(a)
  print(n)

solve(77)

5
77

In [49]:
print(a)

10

In [50]:
a = 10 #global

def solve(n):
  global a #access the global a
  a = 5
  print(a)
  print(n)

solve(7)

5
7

In [51]:
print(a)

5

In [ ]:
'''
Q1
Create a date printing function
Should take in 4 arguments
day, month, year, style

styling logic:

style = 0: print in this format: d / m / y
style = 1: print in this format: m / d / y

style anything else: print "invalid style"

IMP: default style is 0

eg: print_date(d, m, y, s):

21, 7, 2023, 0
op: 21 / 7 / 2023
'''

'\nQ1\nCreate a date printing function\nShould take in 4 arguments\nday, month, year, style\n\nstyling logic:\n\nstyle = 0: print in this format: d / m / y\nstyle = 1: print in this format: m / d / y\n\nstyle anything else: print "invalid style"\n\nIMP: default style is 0\n\neg: print_date(d, m, y, s):\n\n21, 7, 2023, 0\nop: 21 / 7 / 2023\n'

In [52]:
def print_date(d, m, y, s):
  if s == 0:
    print(d, "/", m, "/", y)
  elif s == 1:
    print(m, "/", d, "/", y)
  else:
    print("invalid style")

In [53]:
print_date(21, 7, 2023, 0) #style 0
print_date(21, 7, 2023, 1) #style 1
print_date(21, 7, 2023, 5) #Invalid style

21 / 7 / 2023
7 / 21 / 2023
invalid style

In [54]:
print_date(21, 7, 2023)

TypeError: print_date() missing 1 required positional argument: 's'

In [55]:
def print_date(d, m, y, s = 0): #default style is 0
  if s == 0:
    print(d, "/", m, "/", y)
  elif s == 1:
    print(m, "/", d, "/", y)
  else:
    print("invalid style")

In [56]:
print_date(21, 7, 2023)

21 / 7 / 2023

In [57]:
print_date(21, 7, 2023, 1)

7 / 21 / 2023

In [58]:
print_date(7, 21, 2023, 0) #(d,m,y,s) is it correct? No Because of default argument we lost the control

7 / 21 / 2023

In [59]:
print_date(21, 7, 2023, 5)

invalid style

**Lambda function : its part of functinal programming**

Understand the ternery operator

In [60]:
if 4 > 5 :
  a = 50
else:
  a = 40

print(a)

40

With one line if we want to write the if-else condition we can use the ternary operator

**Syntax:\
[on_true] if [expression] else [on_false]**

In [61]:
a = 50 if 4>5 else 40
print(a)

40


**Lambda function**

In [62]:
#write a function that takes a value and returns twice of it

def solve(a):
  return 2*a

solve(5)

10

Write it one line

In [63]:
solve1 = lambda n:2*n #solve is the function name
#lambda is keyword

In [64]:
solve1(5)

10

lambda func is also called anonymous function

without function name also we can get the answer

In [65]:
(lambda n : 2*n) (5) #anonymous function

10

2 argument passing

In [66]:
sum = lambda a,b : a+b
sum(5,6)

11

Ternery operator + lambda function

In [67]:
#Write a function that returns 1 if the number is even else return 0

def solve(a):
  if a%2==0:
    return 1
  else:
    return 0

solve(10)

1

In [68]:
#ternary operator
def solve(a):
  ans = 1 if a%2==0 else 0
  return ans

solve(10)

1

In [69]:
#lambda function + ternary
solve2 = lambda a : 1 if a%2==0 else 0
solve2(10)

1

In [70]:
solve2(5)

0

In [71]:
#Quiz

def function(var):
  print(var)

function(10)

var = 4
function(var)

10
4